      <!-- page-title -->
        <div class="page-title" style="background-image: url(images/section/page-title.jpg);">
            <div class="container-full">
                <div class="row">
                    <div class="col-12">
                        <h3 class="heading text-center">Payment confirmation</h3>
                        <ul class="breadcrumbs d-flex align-items-center justify-content-center">
                            <li>
                                <a class="link" routerlink="index.html">Homepage</a>
                            </li>
                            <li>
                                <i class="icon-arrRight"></i>
                            </li>
                            <li>
                                <a class="link" routerlink="#">Pages</a>
                            </li>
                            <li>
                                <i class="icon-arrRight"></i>
                            </li>
                            <li>
                                Payment confirmation
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page-title -->

        <!-- Payment confirmation -->
        <section class="flat-spacing">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <h5 class="fw-5 mb_20">Payment confirmation</h5>
                        <div class="tf-page-cart-checkout">
                            <div class="d-flex align-items-center justify-content-between mb_15">
                                <div class="fs-18">Date</div>
                                <p>01/01/2024</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb_15">
                                <div class="fs-18">Payment method</div>
                                <p>Visa</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb_15">
                                <div class="fs-18">Card number</div>
                                <p>**** **** **** 9999</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb_15">
                                <div class="fs-18">Cardholder name</div>
                                <p>Themesflat</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb_15">
                                <div class="fs-18">Email</div>
                                <p>infofashionshop.com</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb_15">
                                <div class="fs-18">Phone</div>
                                <p>(212) 555-1234</p>
                            </div>
                            <div class="d-flex align-items-center justify-content-between mb_24">
                                <div class="fs-22 fw-6">Subtotal</div>
                                <span class="total-value">$188.00 USD</span>
                            </div>
                            <div class="d-flex gap-10">
                                <a routerlink="checkout.html" class="tf-btn w-100 btn-white radius-4 has-border"><span class="text">Cancel Payment</span></a>
                                <a routerlink="#" class="tf-btn w-100 btn-fill radius-4"><span class="text">Confirm Payment</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /Payment confirmation -->
