   <!-- coming-soon -->
        <section class="flat-spacing coming-soon">
            <div class="coming-soon-inner">
                <div class="content">
                    <div class="heading title-display">Coming Soon</div>
                    <div class="tf-countdown-lg">
                        <div class="js-countdown" data-timer="1007500" data-labels="DAYS,HOURS,MINUTES,SECONDS"></div>
                    </div>
                    <form class="form-newsletter subscribe-form type-coming-soon" id="subscribe-form" action="#" method="post" accept-charset="utf-8" data-mailchimp="true">
                        <div id="subscribe-content" class="subscribe-content">
                            <fieldset class="email">
                                <input type="email" name="email-form" id="subscribe-email" class="subscribe-email" placeholder="Enter your e-mail" tabindex="0" aria-required="true">
                            </fieldset>
                            <div class="button-submit">
                                <button class="subscribe-button" type="button" id="subscribe-button">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5 12H19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                        <path d="M12 5L19 12L12 19" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div id="subscribe-msg" class="subscribe-msg"></div>
                    </form>
                    <ul class="tf-social-icon style-default style-white justify-content-center">
                        <li><a href="#" class="social-facebook"><i class="icon icon-fb"></i></a></li>
                        <li><a href="#" class="social-twiter"><i class="icon icon-x"></i></a></li>
                        <li><a href="#" class="social-instagram"><i class="icon icon-instagram"></i></a></li>
                        <li><a href="#" class="social-tiktok"><i class="icon icon-tiktok"></i></a></li>
                        <li><a href="#" class="social-amazon"><i class="icon icon-amazon"></i></a></li>
                        <li><a href="#" class="social-pinterest"><i class="icon icon-pinterest"></i></a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- /coming-soon -->
